.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 450px;
  height: 350px;
  border: 2px solid #76b947;
  border-radius: 5px;
  font-size: 20px;
}

.button {
  border: 2px solid#76b947;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  margin-left: 30px;
}
