.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  height: 350px;
  border: 2px solid #76b947;
  border-radius: 5px;
}

.button {
  width: fit-content;
  padding: 2px;
  margin: 10px;
  height: 30px;
  padding: 0 15px;
}

.card {
  display: flex;
  gap: 10px;
  font-size: 16px;
  padding: 10px;
}

.title {
  font-size: 40px;
}

input[type="tel"] {
  border: 2px solid #76b947;
  border-radius: 5px;
  height: 30px;
}
