.container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}

.button {
  width: 30px;
  height: 30px;
  align-items: center;
  border: 1px solid #72b442;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.buttoncontainer {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: min-content;
}

.proddetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 350px;
}

.productname {
  font-size: 19px;
  color: #424242;
}

.p {
  font-size: 14px;
  font-weight: 500;
  color: #424242;
}

.price {
  display: flex;
}

.img {
  transition: all 0.2s ease-in-out;
}

.img:hover {
  transform: scale(1.05);
}

.imageUrl {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}