.subcategories {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  background-color: #32c01a;
  width: max-content;
  padding: 0 20px 0 20px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.subcategories:hover {
  transform: scale(1.01);
}

.subcontainer {
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: #76b947;
  height: 100vh;
  gap: 20px;
}

.title {
  font-size: 50px;
}

.productcontainer {
  background-color: #32c01a;

  border-radius: 5px;
}
