.container {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #94c973;
}

.item {
  width: 500px;
  height: 500px;
  background-color: rgba(162, 208, 133, 0.7);
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
  font-style: italic;
  font-size: 22px;
  font-weight: 100;
  transition: transform 0.3s ease-in-out;
  color: #000;
  cursor: pointer;
}

.item:hover {
  transform: translateY(-20px);
  background-color: #88bd68;
}

.image {
  width: 100%;
  height: 300px;
  border-radius: 45%;
}