.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #76b947;
  height: 100vh;
  padding-top: 70px;
}

.table {
  width: 800px;
  border: 2px solid #32c01a;
}

.header {
  display: flex;
  gap: 20px;
}

.thead {
  border: 2px solid #32c01a;
}

.th {
  border: 2px solid #32c01a;
}

.checkout {
  width: 150px;
  height: 40px;
  border: 2px solid #32c01a;
  border-radius: 5px;
  font-size: 20px;
}
