.page {
  display: flex;

  flex-direction: row;
  gap: 3px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid #76b947;
  width: 20%;
  height: 92vh;
  list-style-type: none;
  border-radius: 5px;
}

.li {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.li:hover {
  color: #76b947;
  transform: scale(1.1);
}

.content {
  display: flex;

  align-items: center;
  justify-content: center;
  border: 2px solid #76b947;
  border-radius: 5px;
  width: 80%;
}
