.button {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  margin: 10px;
}

.button:hover {
  background-color: #e7e7e7;
}

.buttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}