.form {
  margin-top: 20px;

  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 30px;

  font-size: 20px;
}

.inputtext {
  padding: 5px 5px;
  line-height: 12px;
  width: 400px;
  border: 2px solid #76b947;
  border-radius: 10px;
}

.container {
  height: 50% vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
  gap: 20px;
}

.button {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  border: 2px solid #76b947;
  border-radius: 5px;
}

.facebookb {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
