.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  justify-content: center;
  position: fixed;
  z-index: 1;
  color: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
  gap: 5px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 750px;
  border: 2px solid #76b947;
  border-radius: 5px;
  gap: 15px;
}

input[type="text"] {
  width: 445px;
  height: 25px;
}

.textarea {
  border: 2px solid #76b947;
  border-radius: 5px;
}

input[type="file"]::file-selector-button {
  border: 2px solid #76b947;
  border-radius: 5px;
}

.fileinput {
  margin-right: 205px;
}
