.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  border: 1px solid #76b947;
  border-radius: 5px;
  gap: 5px;
  margin: auto;
  margin-bottom: 15px;
}

.image {
  width: 85%;
  height: 17vmax;
  object-fit: contain;

  border-radius: 5px;
}

.text {
  margin-right: auto;
  padding: 10px;
}

.name {
  font-size: 15px;
}

.title {
  font-size: 25px;
}

.description {
  font-size: 14px;
}

legend {
  margin-left: 20px;
}

.removeBtn {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  background-color: #e4871c;
  color: #fff;
  margin-top: 15px;
}